/target
.DS_Store
*.pdb
.idea
.vscode
/dist
learned.db
user.dict
resources/icon.png
resources/icon.icns
resources/icon.tiff
resources/menu.tiff
resources/system.dict
/data/vendor/
/data/system.tsv

/dist
learned.db
user.dict
resources/icon.png
